// Async content 异步的内容
// <await> 标签，可以从data Provider动态加载内容。
// data Provider可以是一个Promise或者CallBack。只要有结果了，就会被渲染。
// Basic usage: <await(results from dataProvider)>...</await>
$ let tPromise = new Promise((resolve, reject)=>{
	setTimeout(()=>{
		resolve({
			name: 'Async Content'
		})
	}, 5000)
})

<await(t from tPromise)>
	<h5>${t.name}</h5>
</await>