class {
	onCreate() {
		this.state = {
			count: 0
		}
	}

	increment() {
		this.emit('change', ++this.state.count)
	}
}

style.less {
	.primy {
		width: 100px;
		height: 30px;
		border-radius: 4px;
	}
}

<div>
	<h3>次数: ${state.count}</h3>
	<button.primy on-click('increment')>
		++
	</button>
</div>